.scheme {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  height: 300px;
}

.color1 {
  background-color: #ffeccc;
  margin: 12px;
  padding: 5px;
}

.color2 {
  background-color: #870058;
  margin: 12px;
  padding: 5px;
  color: white;
}

.color3 {
  background-color: #a4303f;
  margin: 12px;
  padding: 5px;
}

.color4 {
  background-color: #c8d6af;
  margin: 12px;
  padding: 5px;
}
.color5 {
  background-color: #f2d0a4;
  margin: 12px;
  padding: 5px;
}

.font {
  margin: 12px;
}

.font {
  margin: 12px;
}

.fontchoice {
  font-family: "Poppins", sans-serif;
}

.h1choice {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}

.h2choice {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: italic;
}

.h3choice {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.wireframe {
  border: 3px solid black;
  width: fit-content;
  padding: 15px;
  margin: 20px;
}
