body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Glory", Georgia, sans-serif;
  box-sizing: border-box;
}

header,
footer {
  margin: 0 auto;
  border: 1px solid #bbbbbb;
  padding: 0.5rem;
  background-color: #fce172;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  justify-content: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
  color: #134266;
}

footer p {
  color: #134266;
  font-size: 1.1rem;
}

main {
  width: auto;
  margin: 1rem auto;
  background-color: #78c5d7;
  padding: 1rem;
}

h1 {
  color: #134266;
  font-size: 2.2rem;
}

h2 {
  color: #134266;
  font-size: 1.8rem;
  border-bottom: #fce172 6px solid;
  padding: 20px;
}

h3 {
  color: #134266;
  font-size: 1.6rem;
  padding: 10px;
  margin: 5px;
}

p {
  font-size: 1.2rem;
  color: darkslategrey;
  line-height: 1.5;
}

.mainnav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mainnav li {
  flex: 1 1 auto;
}

.mainnav a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #78c5d7;
  border: 2px solid black;
  font-size: 1.4rem;
}

.mainnavleft a {
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 0px;
}

.mainnavright a {
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px;
}

.mainnav a:hover {
  color: white;
  font-weight: normal;
  background-color: #134266;
}

.mainnav .active {
  color: #fce172;
  font-weight: bold;
  background-color: #134266;
}

.page {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: auto;
}

.socialmedia {
  width: 35px;
  height: auto;
  margin: 6px;
  border-radius: 15%;
  box-shadow: 5px 5px 5px gray;
}

.hidden {
  font-size: 0px;
  width: 0px;
  height: 0px;
  position: absolute;
}
.social {
  justify-self: right;
}

.social a {
  text-decoration: none;
  outline: none;
}

.heroimage {
  width: auto;
  height: auto;
  justify-self: center;
  position: relative;
}

input {
  display: none;
}

label {
  display: block;
  cursor: pointer;
  background: #fce172;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
  padding-left: 6px;
  color: #134266;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  border: 1px solid black;
}

label::after {
  content: "+";
  position: absolute;
  right: 5px;
}

input:checked + label::after {
  content: "-";
  right: 5px;
}

label .hover {
  background: #78c5d7;
}

.content {
  border: 1px solid black;
  padding: 10px;
  background: #bbbbbb;
  margin-left: 20px;
  margin-right: 10px;
}

.content p {
  margin: 0px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

.icon {
  width: 23px;
  float: left;
  margin: 10px;
  margin-top: 18px;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.contact p {
  padding-left: 30px;
  margin: 5px;
}

.contact a {
  padding-left: 30px;
  margin: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.address {
  grid-row: 1/4;
  grid-column: 2/3;
}

.address .map {
  border: solid 3px black;
  width: 400px;
  height: 300px;
}

.cta {
  border: solid 2px black;
  position: absolute;
  text-align: center;
  top: 30px;
  left: 54px;
  background: #fce172;
  padding: 1.4rem;
  opacity: 0.8;
}

.cta div {
  background: #134266;
  padding: 1rem;
  color: white;
}

.left {
  float: left;
}

.right {
  float: right;
}

.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.section1image {
  width: auto;
  grid-column: 2/3;
  grid-row: 1/3;
  padding: 1rem;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.section2image {
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 1rem;
}

.subheader {
  display: grid;
  grid-template-columns: auto 64px;
  align-items: center;
}
